/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 1, 2025, 7:52:47 PM
    Author     : HP
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*color: #2c3e50;
    overflow-x: hidden;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, #18bc9c, #3498db);
    background-repeat: no-repeat;
    background-size: cover;
}


#logo {
    height: 40px;
}

#profileIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    padding: 6px 10px;
}

.btn-transparent:focus,
.btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.btn-transparent.dropdown-toggle::after {
    color: white;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
}

main {
    flex-grow: 1;
}

footer {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 1rem 0;
    background: transparent;
    color: #fff;
}

.form-control {
    border-radius: 50px !important;
    padding: 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdc3c7 !important;
    font-size: 16px !important;
    color: #34495e !important;
    font-weight: 400;
}

.form-control:focus {
  box-shadow: none !important;;
  border: 1px solid #18bc9c !important;
  outline: none;
}

.profile-button {
  background: #18bc9c;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #3498db;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

#edit-profile-btn {
    cursor: pointer;
    color: #18bc9c;
    transition: color 0.3s ease;
}

#edit-profile-btn:hover {
    color: white;
}

#edit-profile-btn.editing {
    background-color: #18bc9c;
    color: white !important;
    border: none;
}

#edit-profile-btn.editing:hover {
    background-color: #16a085;
    color: white !important;
}


.back:hover {
  color: #3498db;
  cursor: pointer;
}

.profile-container {
    margin-top: 140px !important;
}
